<table class="table dataTable" ngClass="{{config.className || ''}}"
           role="grid" style="width: 100%;">
      <thead>
        <tr role="row">
          <th *ngFor="let column of columns" [ngTableSorting]="config" [column]="column" 
              (sortChanged)="onChangeTable($event)" ngClass="{{column.className || ''}}">
            {{column.title}}
            <i *ngIf="config && column.sort" class="pull-right fa"
              [ngClass]="{'fa-chevron-down': column.sort === 'desc', 'fa-chevron-up': column.sort === 'asc'}"></i>
          </th>
        </tr>
      </thead>
      <tbody>
      <tr *ngIf="showFilterRow">
        <td *ngFor="let column of columns">
          <input *ngIf="column.filtering" placeholder="{{column.filtering.placeholder}}"
                 [ngTableFiltering]="column.filtering"
                 class="form-control"
                 style="width: auto;"
                 (tableChanged)="onChangeTable(config)"/>
        </td>
      </tr>
        <tr *ngFor="let row of rows">      
            <ng-container *ngFor="let column of columns" >     
                <td *ngIf="!column.actions" (click)="cellClick(row, column.name)" [innerHtml]="sanitize(getData(row, column.name))"></td>

                <td *ngIf="column.actions">
                    <ng-container *ngIf="column.actions.type === 'simple'">
                        <a  *ngFor="let actionButton of column.actions.buttons" [className]="actionButton.styleClass" (click)="actionClick(actionButton.action, row, column)">
                             <i class="" ngClass="{{actionButton.styleIcon || ''}}"></i> {{ actionButton.title }}
                        </a>
                    </ng-container>
                    
                    <ng-container *ngIf="column.actions.type === 'group'">
                        <div class="btn-group" role="group">
                            <a  *ngFor="let actionButton of column.actions.buttons" [className]="actionButton.styleClass" (click)="actionClick(actionButton.action, row, column)">
                                <i class="" ngClass="{{actionButton.styleIcon || ''}}"></i>  {{ actionButton.title }}
                            </a>
                        </div>
                    </ng-container>

                    <ng-container *ngIf="column.actions.type === 'dropdown'">
                        <div class="btn-group" dropdown>
                        <button id="single-button" type="button" [className]="column.actions.dropdownStyleClass" dropdownToggle>
                           {{ column.actions.dropdownTitle }} <span class="caret"></span>
                        </button>
                        <ul dropdownMenu role="menu" aria-labelledby="single-button">      
                            <li role="menuitem" *ngFor="let actionButton of column.actions.buttons">
                                <a class="dropdown-item" (click)="actionClick(actionButton.action, row, column)">
                                    <i class="" ngClass="{{actionButton.styleIcon || ''}}"></i> {{ actionButton.title }}
                                </a>
                            </li>                             
                        </ul>
                        </div>                        
                    </ng-container>
            
                </td>            
            </ng-container>
        </tr>
      </tbody>
    </table>