<input *ngIf="config.filtering" placeholder="Type to start filtering..." type="text" class="form-control"
       [ngTableFiltering]="config.filtering"
       (tableChanged)="tableEventBus.onFilterChanged($event)"/>

<ngTable [config]="config"
         (tableChanged)="onTableChanged($event)"
         [rows]="rows"
         [columns]="columns">
</ngTable>

<pagination *ngIf="config.pagination"
            class="pagination-sm"
            [(ngModel)]="config.pagination.page"
            [totalItems]="totalItems"
            [itemsPerPage]="config.pagination.itemsPerPage"
            [boundaryLinks]="true"
            [rotate]="false"
            (pageChanged)="tableEventBus.onPageChanged($event)">
</pagination>
