<input *ng-if="config.filtering" placeholder="Filter"
       [ng2-table-filter]="config.filtering"
       (table-changed)="onChangeTable(config)"/>

<ng2-table [config]="config.sorting"
           (table-changed)="onChangeTable(config)"
           [rows]="rows" [columns]="columns">
</ng2-table>
<pagination *ng-if="config.paging"
            [total-items]="length"
            [items-per-page]="itemsPerPage"
            (page-changed)="onChangeTable(config, $event)"
            [(ng-model)]="page"
            [max-size]="maxSize"
            class="pagination-sm"
            [boundary-links]="true"
            [rotate]="false"
            (num-pages)="numPages = $event">
</pagination>
<pre *ng-if="config.paging" class="card card-block card-header">Page: {{page}} / {{numPages}}</pre>
